<header>
    <nav>
      <a href="/" target="_self">Home</a>
      <a href="/apply" target="_self">Apply</a>
      <a href="/about" target="_self">About</a>
      <a href="/login" target="_self">Login</a>
      <a href="/createlogin" target="_self">Create Login</a>
    </nav>
  </header>