<h1>Welcome to the Application Page for SUCCESS Scholarship</h1>

<br><br>

<fieldset>
  <label for="txtClassroomName">Name:</label><input type="text" name="txtName" size="20">
  <label for="txtAddress">Address:</label><input type="text" name="txtAddress" size="20">
  <label for="txtCity">City:</label><input type="text" name="txtCity" size="20">
  <label for="txtState">State:</label><input type="text" name="txtState" size="20">
  <label for="txtZipcode">Zipcode:</label><input type="text" name="txtZipcode" size="20">
  <label for="txtPhone">Phone:</label><input type="text" name="txtPhone" size="20">
  <label for="txtEmail">Email:</label><input type="text" name="txtEmail" size="20">
  <label for="txtHighSchool">High School:</label><input type="text" name="txtHighSchool" size="20">
  <label for="txtGPA">GPA:</label><input type="text" name="txtGPA" size="20">
  <label for="txtFAFSA">FAFSA Completion:</label><input type="text" name="txtFAFSA" size="20">
  <label for="txtCitizenship">U.S. Citizen:</label><input type="text" name="txtCitizenship" size="20">
  <label for="txtRace">Race:</label><input type="text" name="txtRace" size="20">
  <label for="txtIslanderEmail">Islander Email:</label><input type="text" name="txtIslanderEmail" size="20">
  <label for="txtWorkExp">Work Experience:</label><input type="text" name="txtWorkExp" size="20">
  <label for="txtdateWork">Work Dates:</label><input type="text" name="txtdateWork" size="20">
  <label for="txtworkSalary">Salary:</label><input type="text" name="txtworkSalary" size="20">
  <label for="txtpersonalStatement">Personal Statement:</label><input type="text" name="txtpersonalStatement" size="20">
  <label for="txtsignature">Signature:</label><input type="text" name="txtsignature" size="20">
  <label for="txtsigDate">Date:</label><input type="text" name="txtsigDate" size="20">
  
  </fieldset>

<form>
    <label for="fullname">Name: </label>
    <input type="text" id="fullname" name="fname"><br>
    <label for="address">Address: </label>
    <input type="text" id="curraddress" name="lname"><br>
    <label for="city">City:</label>
    <input type="text" id="city" name="lname"><br>
    <label for="state">State:</label>
    <input type="text" id="state" name="lname"><br>
    <label for="zip">Your Email:</label>
    <input type="text" id="zip" name="lname"><br>
    <label for="phone">Your Email:</label>
    <input type="text" id="phone" name="lname"><br>
    <label for="email">Your Email:</label>
    <input type="text" id="email" name="lname"><br>
    <label for="highschool">Your Email:</label>
    <input type="text" id="highschool" name="lname"><br>
    <label for="gpa">Your Email:</label>
    <input type="text" id="gpa" name="lname"><br>
    <label for="city">Your Email:</label>
    <input type="text" id="city" name="lname"><br>
    <label for="city">Your Email:</label>
    <input type="text" id="city" name="lname"><br>
    <label for="city">Your Email:</label>
    <input type="text" id="city" name="lname"><br>
    <button type="submit" id="subbtn2" name="subbtn2">Submit</button>
  </form>