<h1> CREATE LOGIN </h1>
<form>
    <label for="txtusername">Username: </label>
    <input type="text" id="txtusername" name="textusername"><br>
    <label for="txtpassword">Password: </label>
    <input type="text" id="txtpassword" name="txtpassword"><br>
    <label for="txtpassword">Email: </label>
    <input type="text" id="txtEmail" name="txtEmail"><br>
    <button type="submit" id="subbtn3" name="subbtn3">Submit</button>
  </form>