<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <!-- ===== css ===== -->
    <link rel="stylesheet" href="style.css">
    <!-- ===== REMIXICON CDN ===== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Texas A&M University Corpus Christi - the Island University</title>
  </head>


</head>
<body>

<div class="header">
  <h1>Texas A&M University Corpus Christi - the Island University</h1>

<!-- fix this image -->

<img src="http://success.tamucc.edu/successlogo.png"/>
  <p>Scholarships page</p>
</div>

<div class="row">
  <div class="column">
    <h2>Welcome</h2>
    <p>This is the Scholarships portal for TAMUCC.
      <br>
      <br>
      Here is where you can create an account and apply to available scholarships.
      <br>
    </p>
  </div>
  
  <div class="column">
    <h2><span>OVERVIEW: </h2>
    <p>
      Supporting Undergraduates for Careers in Computing and Engineering with Scholarships and Supervision (SUCCESS) has the goal of expanding the STEM pool by providing scholarships to academically talented and financially needy entering freshman or transferring regional community college students into engineering and computer science (ECS) majors at Texas A&M University-Corpus Christi (TAMU-CC), a Hispanic-Serving Institution, to allow them to complete a baccalaureate degree.
      <br><br>
      <ul style="list-style-type:square">
            BENEFITS:
      <br><br>
      <li>$7,000 Scholarship award per academic year</li>
      <li>Up to 8 semesters of funding ($28,000)</li>
      <li>Undergraduate Research Fellowship Priority Consideration</li>
      <li>Student-Student mentoring with a junior or senior TAMU-CC mentor
      <li>Industry-Student mentoring from industry volunteers will mentor SUCCESS scholars</li>

      <br><br>
      SCHOLARSHIP ELIGIBILITY:
      <br><br>
      <li>Be accepted to TAMU-CC in Engineering or Computer Science major</li>
      <li>US Citizen or US Permanent Resident></li>
      <li>Demonstrate academic potential in an Engineering or Computer Science field</li>
      <li>Maintain full-time enrollment in an Engineering or Computer Science major</li>
      <li>Maintain cumulative GPA > 2.9</li>
      <br><br>
      SCHOLARSHIP APPLICATION REQUIREMENTS:
      <br><br>
      <li>Complete a SUCCESS Scholarship Application Form with three letters of recommendation</li>
      <li>Write a 300-500 word essay describing your interest and goals for your major</li>
      <li>Qualify for financial aid, as determined by TAMU-CC Financial Aid Office (must complete FAFSA form)</li>
      <li>Submit a current resume</li>
      <li>High school transcript(s)</li>
    </p>
      <br><br>
    </span>
    </div>
  
  <div class="column">
    <h2>Column</h2>
    <p> Add Scholarhips UI here </p>
  
  </div>
</div>

</body>
</html>