<h1> LOGIN </h1>
<form>
    <label for="uname">Username: </label>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Password: </label>
    <input type="text" id="lname" name="lname"><br>
    <button type="submit" id="subbtn3" name="subbtn3">Submit</button>
  </form>